.input {
  padding: 15px 25px;
  background-color: $color-background;
  color: $color-font;
  border: 1px solid $color-grey;
  border-radius: 20px;

  &__success {
    border: 1px solid $color-success;
  }

  &__error {
    border: 1px solid $color-error;
  }
}

.submit {
  @extend .input;
  margin: 4px 0 16px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}