@use '@styles' as *;

.user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    border-radius: 15px;
  }
}

.name {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}